body {
  width: 100%;
}

.logo {
  width: 50%;
  margin: auto;
}

img {
  /* margin-left: 29%; 
    margin-right: 30%; 
    margin-bottom: 0%;  */
}

menu {
  border-bottom: 1px solid #000; /* added the line on bottom of the menu*/
  display: flex; /* when you move the page it keeps items together */
  justify-content: space-between; /* adds spaces between the list elements */
  margin: 0%; /*  */
  padding-bottom: 20px; /* moved the line of the border down so I could see my hover line */
}

menu {
  list-style-type: none; /* removes the bullet points*/
}

ul {
  list-style-type: none; /* removes the bullet points in the footer */
  display: flex; /* when you move the page it keeps the items together in the footer */
  justify-content: space-between; /* adds spaces between the list elements in the footer */
}

a {
  text-decoration: none; /* removes the underline in the menu */
  color: #000; /* changed the text color in the menu */
}

a:hover {
  /* background-color: #37593A; */
  border-bottom: 1px solid #37593a; /* made the hover just a line instead of a box */
}

h1 {
  color: #000; /* changed the color of the headers */
}

footer {
  border-top: 1px solid #000; /* added the line on top of the footer*/
}

a {
  text-decoration: none; /* removes the underline */
  color: #37593a; /* changed the text color */
}
