.logo img {
    margin-left: 29%;
    margin-right: 30%;
    margin-bottom: 0%;
}
    
menu {
    border-bottom: 1px solid #000; /* added the line on bottom of the menu*/
    display: flex; /* when you move the page it keeps items together */
    justify-content: space-between; /* adds spaces between the list elements */
    margin: 0%;
}

menu {
    list-style-type: none; /* removes the bullet points*/
}

ul {
    list-style-type: none; /* removes the bullet points in the footer */
    display: flex; /* when you move the page it keeps the items together in the footer */
    justify-content: space-between; /* adds spaces between the list elements in the footer */
}

a {
    text-decoration: none; /* removes the underline in the footer */
    color: #000; /* changed the text color in the footer */
}

footer {
    border-top: 1px solid #000; /* added the line on top of the footer*/
}

a {
    text-decoration: none; /* removes the underline */
    color: #000; /* changed the text color */
}
