footer {
    border-top: 1px solid #000; /* added the line on top of the footer*/
}

ul {
    list-style-type: none; /* removes the bullet points */
    display: flex; /* when you move the page it keeps the items together*/
    justify-content: space-between; /* adds spaces between the list elements */
}

a {
    text-decoration: none; /* removes the underline */
    color: #000; /* changed the text color */
}